<?xml version="1.0" encoding="GBK"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd">
 
  <context:component-scan base-package="org.lanmei"/>
 
  <!-- <context:property-placeholder location="classpath:jdbc_dbcp.properties"/> -->
  <!--<util:properties id="jdbc_dbcp" />-->
 
 <!--  <bean id="dataSource" class="org.unitils.database.UnitilsDataSourceFactoryBean"/> -->
  <bean id="dataSource1"
		  class="org.apache.ibatis.datasource.pooled.PooledDataSource">		  
		  <property name="url" value="jdbc:mysql://localhost:3306/lanmei?characterEncoding=utf-8"/>
		  <property name="driver" value="com.mysql.jdbc.Driver"/>
		  <property name="username" value="root"/>
		  <property name="password" value="563739007"/>
	</bean>
  <!-- spring和MyBatis整合，不需要mybatis的配置映射文件 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
    <property name="dataSource" ref="dataSource1"/>
    <!-- 自动扫描mapping.xml文件 -->
    <property name="mapperLocations" value="classpath:org/lanmei/*/dao/mapper/*.xml"></property>
  </bean>

 
  <!-- MyBatis 动态实现:DAO接口所在包名,Spring会自动查找其下的类 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 对Dao 接口动态实现,需要知道接口在哪 -->
		<property name="basePackage" value="org.lanmei.**.dao.mapper"/>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
 
  <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->
  <bean id="transactionManager"
     class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="dataSource1"/>
  </bean>
</beans>