/* /* #adminManagerTr{
 	    		height:40px;
 	    	}
  	input{
  	  	 border-style:solid;
  		 border-color:#90EE90;
  	}
  
  	buton{
  		border-style:solid;
  	    border-color:#90EE90;
  	    width:100px;
  	    background-color:#00FFFF;
  	    position:absolute;
        left:40px;	    	    
 }  */