#title{
	/* background-image:url(../../img/homepage/homePageTitle.jpg);  */
	width:100%;
	height:100px;
	color:blue;
	background-color:#EEE9BF;
}

#titleName{
	color:black;
	font-size:30px;
	position:relative;
	top:30px;
}

.menu{
	background-color:#F0FFF0;
	
}
.menuList{
	height:30px;
	font-size:20px;
}
.detaileList{
	display:block;
	color:#7F7F7F;
	position:relative;
	left:10px;
	height:40px;
}