<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<html >
	<head>
		<title>蓝莓商城 400</title>
		<meta charset="UTF-8">
 	    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		
	</head>
	
	<body>
		<div>
			<h5>异常信息</h5>
			<p th:text="${message}">未知</p>
		</div>
		<div>
			<h5>异常原因</h5>
			<p th:text="${cause}">未知</p>
		</div>
		<div>
			<h5>异常堆栈</h5>
			<p th:text="${stack-trace}">未知</p>
		</div>


	</body>
</html>