.navigbreadcrumb{
	
}
.navigbreadcrumb-item{
	color:#8B7E66;
	list-style-type:none;
	display:inline;
}

.navigbreadcrumb-item:after{
	content:"＞";
	color:#0A0A0A;
}

.categoryItemSelect{
	width:350px;
	height:auto;
}
.categoryItemSelect td{
	text-align:center;
}
.categoryItemSelect li{
	color:#43CD80;
	list-style-type:none;
	display:inline;
}

.dynamicItemTd{
	font-size:10px;
	color:red;
}
#commodityList{
	text-align:center;
}

.button {
	border: none;
    color: black;
    background-color:#FFEFD5;
    font-family:Arial;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    height:23;
}
.name{
	float:left;
	color:#8B8878;
	
	
}