<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  lang="en">

<html>
	<head >
		<title>蓝莓商城-用户登录</title>
		<meta charset="utf-8">
 	    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- jquery  bootstrap-->
		<script th:src="@{/static/jquery/jquery-3.3.1.js}"></script>
		<link rel="stylesheet" type="text/css"  th:href="@{/static/bootstrap/bootstrap.css}">
		<script th:src="@{/static/bootstrap/bootstrap.js}"></script>


 	    <script th:src="@{/static/js/security/Barrett.js}"></script>
 	    <script th:src="@{/static/js/security/BigInt.js}"></script>
 	    <script th:src="@{/static/js/security/RSA.js}"></script>
 	    <script th:src="@{/static/js/common/regex.js}"></script>
 	    <script th:src="@{/static/js/user/register.js}"></script>
		<script th:src="@{/static/js/user/login.js}"></script>
		<link rel="stylesheet" type="text/css"  th:href="@{/static/css/user/register.css}">
		
 
	</head>
	<!--th:fragment="login-head"-->
<body>

	<div th:replace="/commons/common/header-nav :: header-nav"></div>
	   <br>
	   <br>
	   <br>
	   <br>
	   <br>
	<h1 align="center">蓝莓商城</h1>
	<h2 align="center">欢迎登录</h2>
	   <br>
	   <br>
	<!-- 横线 -->
	<hr style=" height:2px;border:none;border-top:2px solid #FFE7BA;" />
	<!-- 注册表单 -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-4">		
			</div>
			<div class="col-4">		
				<form id="login-form"
					publicKey-modulus="${modulus}" 
				    publicKey-exponent="${exponent}"
				    style="display:block;">
					<div class="form-group">
						<label  for="login-loginName" >登录帐号</label>
						<input type="text" id="login-loginName"  class="form-control" style="width:60%"
						placeholder="电话号码/邮箱/用户名"/>
						<span id="login-loginName-warn" class="formWarn" style="display: block" ></span>
					</div>

					<div class="form-group">
						<label  for="login-loginPassword" >密码</label>
						<br>
						<input type="text" id="login-loginPassword"  class="form-control" style="width:60%;display:inline"  placeholder="请输入密码" value=""/>
						<span id="login-loginPassword-warn" class="formWarn" style="display: block" ></span>
					</div>
					<div class="form-group">
						<label  for="login-loginValidateCode" >验证码</label>
						<br>
						<input type="text" id="login-loginValidateCode"  class="form-control" style="width:60%;display:inline"  placeholder="验证码" value=""/>
						<img id="login-kaptcha" title="点击更换" alt="验证图片"
						th:src="@{/kaptcha}" onclick="this.src=this.src+'?d=100'"
						style="vertical-align: middle;"  height="30" width="80">
						<span id="login-loginValidateCode-warn" class="formWarn"  style="display: block"></span>
					</div>
					<a>忘记密码？</a><a  th:href="@{/user/find/password}" target="_blank"
					style="color:#EEB422">点击找回密码</a>
					<br>
					<button type="button" id="login-loginSubmit-btn">登录</button>
					<span id="login-loginSubmit-Warn" class="formWarn" style="display: block" ></span>
				</form>
				
				<!-- 登陆成功现实 -->
				<span  id="login-successDisplay" style="display:none; font-size:40px;  position:relative; left:15%;" >
					恭喜您！登陆成功。
					<a th:href="@{/}" style="color:#DC143C;">点击返回主界面！</a>
				</span>
			</div>
			<div class="col-4">				
			</div>
		</div><!--<div class="row">  -->
	</div><!-- end of <div class="container-fluid">  -->
	<div th:replace="/commons/common/footer :: footer-body"></div>
</body>
</html>